/* apply font to entire page */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* background gradient for the page */
body{
    background-image: linear-gradient(rgb(137, 158, 253), rgb(255, 78, 47));
}

/* header css, formats it to have a gradient
round corners and centered  */
header{
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  border-radius: 25px;
  background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 102, 0));
}

/* sets height and color of nav links */
.header_title, .nav_link{

     height: 100px;
     color: whitesmoke;
}

/* css to center header content, has a flex of 3 to take up more space relative to nav links */
.header_title{
    /* background-color: grey; */
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 102, 0));
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: whitesmoke;
}


/* css for nav links to center their content */
a.nav_link {
    /* background-color: grey; */
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 102, 0));
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
 
}

/* .nav_link{
    
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 102, 0));
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* css for my name on the top */
.header_title h1{
    font-weight: 100;
    font-size: 50px;
}

/* css for the text in each nav element */
.nav_link h4{
    font-weight: 100;
    font-size: 17px;

}


/* rounds corners of the nav elements */
.contact{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}


/* highlihgts the nav links when hovered */
.nav_link:hover{
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 51, 0));
}

/* mobile menu css */
/* css for menu symbol wrapper*/
a.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

/* css for the 3 lines that make up the menu symbol*/
.menu_bar{
    background-color: whitesmoke;
    width: 30px;
    height: 6px;
    margin-top: 5px;
    border-radius: 3px;
}


/* css for drop down nav */
.side_nav{
    width: 80%;
    margin: 0 auto;
    display: none;
}

/* rounds corners of portfolio side nav element*/
.side_nav .portfolio{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

/* rounds and unrounds corners of contact side nav element */
.side_nav .contact{
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
}


/* sections css */
/* css for the sectio wrapper */
section{
    /* background-color: thistle; */
    background-image: linear-gradient(to bottom right, thistle, rgb(219, 175, 219));
    width: 80%;
    margin:20px auto;
    padding: 20px 0px 5px;
    border-radius: 25px;

}

/* sets css for section title */
section h1{
    background-color:transparent;
    margin: 20px 80px;
    font-weight: 100;
    font-size: 40px;
}

/* css for section content wrapper */
.section_content{
    margin: 20px 20px;
    background-color: transparent;

}

/* .line{
    height: 6px;
    border-radius: 3px;
    background-color: black;
    margin: 0px 15px;
} */

/* about me css */
/* flexboxes the content for about me */
.about_me .section_content{
    display: flex;
}

/* css for the main image to make it look like a polaroid */
.about_me .section_content .image{
    margin: 0px 30px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    padding-bottom: 60px;

}

/* css for the text blurb next to the name */
.about_me .section_content .blurb{

    margin-top: 50px;
    margin-right: 30px;
    background-color: transparent;
    font-size: 20px;
}

/* css for actualt image component of my image */
.my_image{
    background-color: black;
    height: 300px;
    width: 300px;
}


/* portfolio css */
/* adds flexbox to portfolio nav */
.portfolio_nav{
    display: flex;
    margin-left: 0;
}

/* css for the portfolio tabs */
.port_tab{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

/* sets background colors for respective tabs */
.all{
    background-color: #eca85a;
}

.html{
    background:#c32148;
}

.wordpress{
    background-color: #21759b;
}

.unity{
    background-color: #00a698;
}

/* css for the card container as a flexbox */
.card_container{
    background-color:#eca85a;
    border-radius: 15px;
    border-top-left-radius: 0px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* card css */
/* css for the card to make it look like a polaroid */
.card{
    width: 250px;
    margin: 20px 10px;
    background-color:whitesmoke;
    padding: 12px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-radius: 15px;
    border-style: solid;
    border-width: 7px;
    border-color: rgb(92, 92, 92); */
}

/* css for text underneath card */
.card h3{
    font-weight: 100;
    margin: 10px 0px;
}

/* css to make image black for now */
.card img{
    height: 240px;
    width: 240px;
    background-color: black;
}


/* contact me css */

/* flex box contact me container */
.contact_container{
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
}

/* css for each contact item */
.contact_item{
    font-size: 20px;
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 102, 0));
    padding: 20px 30px;
    border-radius: 20px;
}

/* highlights contact me items when hovered */
.contact_item:hover{
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 51, 0));
}

/* removes underlines and colors from anchors */
.contact_link{
    text-decoration: none;
    color: black;
}

/* @media screen and (min-width: 912px){
    .side_nav{
        display: none;
    }
} */


/* css for screen smaller than 1230 px */
@media screen and (max-width: 1230px){
    /* contact container elements go vertical */
    .contact_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* spaces out contact items */
    .contact_item{
        margin-top: 30px;
    }

    /* centers section titles */
    .section_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* puts text blurb underneath image in about me section */
    .about_me .section_content{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* sets css for image with smaller screen */
    .about_me .section_content .image{
        margin: 0px 30px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        padding: 10px;
        padding-bottom: 60px;
    
    }

    /* centers text blurb */
    .about_me .section_content .blurb{

        margin: 30px 40px;
        text-align: center;
    }

    /* spaces stuff close together */
    .contact_container{
        margin-top: 0px;
    }
}

/* css for when screen is smaller than 912 */
@media screen and (max-width: 912px){

    /* hides nav bar */
    header > a.nav_link{
        display: none;
    }

    /* shows menu logo option */
    header >a.menu{
        display: flex;
        position: absolute;
        top: 20px;
        right:10%;
        padding: 0px 30px;
    }
    
}

/* css when screen gets smaller than 663px */
@media screen and (max-width: 663px){
    /* unrounds top right corner of portfolio */
    .card_container{
        border-top-right-radius: 0px;
    }
    
}

/* css for when screen is smaller than 560px */
@media screen and (max-width: 560px){
    /* keeps menu symbol from overlapping title */
    header > a.menu{
        padding: 0px 15px;
        padding-right: 20px;
    }
    
}

